RewriteEngine On

# If the requested filename exists as a file (like images, CSS, JS, etc.), do not process further
RewriteCond %{REQUEST_FILENAME} !-f

# If the requested filename exists as a directory, do not process further
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to your PHP script
RewriteRule ^(.*)$ index.php [QSA,L]
