RewriteEngine On

# Redirect to PHP file if it exists in the /pages directory
RewriteCond %{DOCUMENT_ROOT}/pages/$1.php -f
RewriteRule ^(.+)$ pages/$1.php [L]

# Serve the home.php file when the root is accessed
RewriteRule ^$ pages/home.php [L]

# Ensure that real files (e.g., images, CSS, JS) can be directly accessed
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Handle 404 errors
RewriteRule .? - [L,R=404]
