.navbar-nav {
    background-color: #fff;
}

#navbarNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}

#navbarNav li {
    display: inline;
    float: left;
    margin: 0 10px;
}

#logo-container {
    position: absolute;
    top: 13px;
}

#navbarNavMobile {
    display: none;
    margin-top: 72px;
    background-color: inherit;
}

#navbarNavMobileBtn {
    display: none;
    position: absolute;
    right: 28px;
    top: 10px;
}

#navbarNavMobile {
    display: none;
}

#navbar-logo {
    margin-top: 10px;
    margin-left: 10px;
}

.theme-switch-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}