.header {
    flex-grow: 1;
    display: fixed;
    margin: 0 auto
}
.main-logo {
    background: transparent;
    margin-top: 20px;
}

.card-actions {
    margin-top: 16px;
    padding: 0 16px 16px 16px;
    display: flex;
    justify-content: flex-end;
}

.info-box, .info-box-alt {
    padding: 16px; /* Approximation of theme.spacing(2) */
    margin-top: 8px; /* Approximation of theme.spacing(1) */
    margin-bottom: 8px; /* Approximation of theme.spacing(1) */
    margin-left: 8px; /* Approximation of theme.spacing(1) */
    margin-right: 8px; /* Approximation of theme.spacing(1) */
    border-radius: 5px;
    font-size: 18px; /* Approximation of theme.spacing(2) */
}

.info-box {
    background-color: #e0e0e0; /* Adjust this color to match theme.palette.grey.main */
}

.info-box-alt {
    background-color: #c0c0c0; /* Adjust this color to match theme.palette.grey.secondary */
}

body {
    overflow-y: hidden;
}

.main {
    height: 85vh; /* Adjust the value based on your header and footer height */
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 28px;
    scroll-padding-bottom: 28px;
    width: 100vw;
    margin: 0 auto;
}

.dark {
    background-color: #000;
    color: #fff !important;
}


@media (max-width: 1024px) {
    .card {
        width: calc(100% / 2 - 20px) !important; /* Adjust the division value based on the number of cards per row */
    }
}

.info-box-title {
    text-align: center !important;
}

.container {
    width: 99%;
    margin: 0 auto;
    overflow-x: clip;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    height: 75vh;
    scroll-snap-align: center;
    width: 99vw;
    margin: 0 auto;
    overflow-x: clip;
    padding: 1%;
}

.social-media-icon {
    width: 20px;
    height: 20px;
    margin: 5px;
}

/* Media query for tablets: */
@media (max-width: 768px) {
    .section {
        height: 90vh;
    }

    .info-box-title {
        font-size: 24px; /* Smaller font size on small screens */
    }

    .card {
        width: calc(100% - 20px) !important; /* Adjust the division value based on the number of cards per row */
    }
}

@media (max-width: 768px) {
  .section {
        height: 100vh;
    }
}