@media (max-width: 786px) {
    #logo-container {
        top: 7px;
    }

    * {
        font-size: 28px;
    }

    .white-hyperlink {
        padding: 10px;
        border-radius: 10px;
    }

    .page-header {
        font-size: 24px;
    }

    #navbarNav {
        display: none;
    }

    #navbarNavMobileBtn {
        display: block;
    }

    .theme-switch-container {
        top:140px;
    }

    #hero-image {
        width: 300px;
    }
}
